@each $color, $value in $theme-colors {
  .modal-#{$color} {

    .modal-content {
      border-color: $value;
    }

    .modal-header {
      color: #fff;
      background-color: $value;
    }
  }
}

.modal-xl {
    max-width: 1040px;
    width: calc(100% - 30px);
}

.modal-lg {

  &.modal-dialog {

    @include media-breakpoint-down(md) {
      max-width: calc(100% - 30px);
    }

  }

}

.modal {

  .modal-dirbs {

    .modal-content {
      border-radius: 2rem;
      border: rgba(255, 255, 255, 0.2) 20px solid;

      .modal-header {
        background-color: #3f51b5;
        color: #fff;
        border-top-left-radius: 0.75rem;
        border-top-right-radius: 0.75rem;
        -webkit-justify-content: center;
        justify-content: center;
      }

      .modal-body {

        @include media-breakpoint-up(sm) {
          padding: 2rem;
        }

      }

      .modal-footer {
        justify-content: center;
      }

    }

  }

}